[submodule "external/SDL3"]
	path = external/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/SDL3_image"]
	path = external/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
